body {
    background-color: #f4f7f6;
    margin-top: 20px;
    font-family: Lato, Helvetica, sans-serif;
}

.chat-app .chat-history {
    height: calc(100vh - 300px);
    overflow-x: auto;
}

.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.bi:hover {
    font-size: 1.2em;
    cursor: pointer;
}

.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 3
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list a {
    color: #1e1c1c;
}

.people-list .chat-list li .name {
    font-size: 15px;

}

.people-list .chat-list img {
    width: 50px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 50px;
    width: 50px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 15px
}

.chat .chat-history {
    padding: 10px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}


.chat .chat-history .message-data {
    margin-bottom: 20px
}

.chat .chat-history .message-data img {
    border-radius: 25px;
    width: 25px
}

.chat .chat-history .message-data-time {
    color: #1e1c1c;
    padding-left: 0px;
    font-size: 12px;
}

.chat .chat-history .message {
    color: #FAFAFA;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #A8A8A8
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #A8A8A8;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #218aff;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #218aff;
    left: 70%
}

.chat .chat-message {
    padding: 2em;
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #4FCC28
}

.offline {
    color: #CC395D
}

.me {
    color: #d8d8d8
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-window {
        height: 95vh;
    }

    .chat-app {
        display: inline-block;
    }

    .chat-app .people-list {
        height: 15%;
        width: 100%;
        position: relative;
        overflow-x: auto;
        background: #fefefa;
    }

    .chat-app .chat {
        margin: 0
    }

    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }

    .chat-app .chat-history {
        height: 50vh;
        overflow-x: auto
    }
}